

.cronometro {
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -8rem;
    margin-left: -18rem;
    text-align: center;
    border: solid 2px black;
}
.boton {
    display: inline-block;
    width: 6rem;
    height: 2rem;
    position: relative;
    background-color: grey;
    margin-top: 7rem;
    text-transform: uppercase;
    align-items: center
    justify-content: center;
    border-radius: 50%;
    padding: 8px;
    
}
#display {
    width: 5rem;
    height: 4rem;
    padding: 5px 0;
    font-size: 150px;
    color: #000;
    
    
}

